<%- include('../include/header.html', {
	header: true,
	aside: true,
	gnb : 'a11y',
	gnb2nd: 'animation'
}); %>

<!-- #content -->
<div id="content">
	<!-- .section -->
	<section class="section">
		<h2 class="title-h2"><span class="txt">애니메이션</span></h2>
		<!-- .group -->
		<div class="group">
			<!-- .note* -->
			<div class="note">
				<ul class="note-list">
					<li><code>transition</code>으로 처리 시 요소의 <code>display:none;</code>이 있는 경우 애니메이션 되지 않음<br>
						<code>display:none;</code>을 사용하지 않고 <code>height, overflow, visibility</code> 등으로 처리할 경우 리더기와 초점 이동 관련 코드를 추가하여 액션 시 컨트롤 해야 하고, iOS의 경우 초점 대상이 아닌 요소의 제어가 어려움 (현재 가이드의 아코디언이 transition을 활용한 방법)</li>
					<li><code>animation</code>을 사용하면 <code>display:none;</code>이 있어도 동작 가능. 단, 숨기기 애니메이션은 동작하지 않음 (현재 가이드의 파벙ㅂ이 animation을 활용한 방법)</li>
					<li>위 두 가지 방법 중 요건에 따라 선택하여 작업이 필요</li>
				</ul>
			</div>
			<!--// .note* -->
		</div>
		<!--// .group -->
	</section>
	<!--// .section -->
</div>
<!--// #content -->

<%- include('../include/footer.html', {
	footer: false
}); %>