/*
	파일정보 : 콘텐츠 > 박스
	업데이트 : 2024-08-01
*/

@use 'config' as config;

/* 박스 */
.box {
	padding: 2.3rem;
	border: config.variable(border, .1rem) solid transparent;
	border-radius: config.variable(radius, 1.6rem);
	background-color: config.variable(color, #fff);
}
.box.option-line {border-color: config.variable(color, #dee2e6);}
.box.option-line + .box.option-line {margin-top: config.variable(space, 1.6rem);}
.box.option-bg {background-color: config.variable(color, #f8f9fa); border-color: config.variable(color, #f8f9fa);}
.box.option-bg .note-title {color: config.variable(color, #000);}
.box.option-bg.primary {background-color: config.variable(color, #cfe2ff); background-color: config.variable(color, #cfe2ff);}
.box.option-bg .note-title2 {font-weight: config.variable(font, 600); color: config.variable(color, #000);}
.box.option-bg .text2 {font-size: config.variable(font, body, 1.4rem);}
.box.option-bg .note-title2 ~ .text2 {padding-top: config.variable(space, .8rem);}
.segment-group ~ .box.option-bg {padding-top: 1.5rem; padding-bottom: 1.5rem;}