/*
	파일정보 : 콘텐츠 > 도움말
	업데이트 : 2024-08-01
*/

@use 'config' as config;

/* 폼도움말 */
.helper-txt {vertical-align: middle; line-height: 1.5; font-size: config.variable(font, body, 1.2rem); color: config.variable(color, #6c757d);}

.data-helper {padding: config.variable(space, .8rem) config.variable(space, .8rem) 0 0; line-height: 1;}
.data-helper[class*="option-"] {padding-left: 1.9rem; text-indent: -1.9rem; font-size: config.variable(font, body, 1.2rem);}
.data-helper[class*="option-"]::before {content: ''; display: inline-block; width: var(--icon-sm); height: var(--icon-sm); background-image: var(--bg-url-sm); background-repeat: no-repeat; background-size: var(--bg-size-sm); vertical-align: middle;}

.data-helper.option-note .helper-txt {color: config.variable(color, #495057);}
.data-helper.option-note::before {background-position: calc(var(--icon-sm) * -1) 0;}
.data-helper.option-caption .helper-txt {color: config.variable(color, #495057);}
.data-helper.option-caption::before {background-position: calc(var(--icon-sm) * -2) calc(var(--icon-sm) * -4);}
.data-helper.option-caption.primary .helper-txt {color: config.variable(color, #0d6efd);}
.data-helper.option-caption.primary::before {background-position: calc(var(--icon-sm) * -3) calc(var(--icon-sm) * -4);}
.data-helper.option-error .helper-txt {color: config.variable(color, #dc3545);}
.data-helper.option-error::before {background-position: calc(var(--icon-sm) * -2) 0;}
.data-helper.option-error.option-bg {margin-top: config.variable(space, 1.6rem); padding: var(--space-xs) config.variable(space, 1.6rem); border-radius: config.variable(radius, .8rem); border-color: config.variable(color, #f8f9fa); background-color: config.variable(color, #f8f9fa);}
.data-helper.option-error.option-bg::before {margin-left: config.variable(space, 1.6rem);}

.card-select .data-helper.option-error.option-bg {margin-left: -3.0rem;} 