/*
	파일정보 : 콘텐츠 > 박스
	업데이트 : 2024-08-01
*/

@use 'config' as config;

/* 공지사항 */
.note {
	$note : &;
	background-color: config.variable(color, #f8f9fa);
	border-radius: config.variable(radius, 1.6rem);

	&-head {
		position: relative;
		padding: config.variable(space, 1.6rem) 4.3rem 1.65rem config.variable(space, 1.6rem);

		.btn-fold {
			position: absolute;
			top: 50%;
			right: config.variable(space, 1.6rem);
			width: var(--icon-sm);
			height: var(--icon-sm);
			margin-top: calc(var(--icon-sm) / 2 * -1);
			transform: rotate(-180deg);
			transition: transform config.variable(animation, speed, base) config.variable(animation, timing, base);

			&::before {
				content: '';
				@include config.full-layer(absolute);
				background: var(--bg-url-sm) no-repeat calc(var(--icon-sm) * -6) calc(var(--icon-sm) * -3);
				background-size: var(--bg-size-sm);
			}

			#{$note}.is-open & {transform: rotate(0deg);}
		}
	}

	&-body {
		position: relative;
		overflow: hidden;
		max-height: 0;
		transition: max-height config.variable(animation, speed, base) config.variable(animation, timing, base);
	}

	&-title {
		display: block;
		font-weight: var(--#{config.$prefix}font-medium);
		font-size: config.variable(font, body, 1.4rem);
		color: config.variable(color, #495057);
	}

	&-txt {
		font-size: config.variable(font, body, 1.4rem);
		color: config.variable(color, #6c757d);
	}

	&-list {
		& > li {
			padding-left: 1.6rem;
			text-indent: -1.6rem;
			font-weight: config.variable(font, 400);
			font-size: config.variable(font, body, 1.4rem);
			color: config.variable(color, #6c757d);

			&:nth-child(1n + 2) {padding-top: config.variable(space, .8rem);}

			&::before {
				content: '';
				display: inline-block;
				width: .3rem;
				height: .3rem;
				margin-right: .85rem;
				margin-left: .45rem;
				margin-top: -.2rem;
				background-color: config.variable(color, #6c757d);
				border-radius: 100%;
				vertical-align: middle;
			}

			& > strong {
				font-weight: var(--#{config.$prefix}font-medium);
				color: config.variable(color, #343a40);
			}
		}
	}
}
.note-title + .note-list {margin-top: config.variable(space, .8rem);}
.note-list > li.primary {color: config.variable(color, #0d6efd);}
.note-list > li.primary::before {background-color: config.variable(color, #0d6efd);}
.note-list > li.highlight {color: config.variable(color, #dc3545);}
.note-list > li.highlight::before {background-color: config.variable(color, #dc3545);}
.note-list .list.depth-u2 {padding-top: .8rem;}
.note-list .list.depth-u2 > li {font-size: config.variable(font, body, 1.4rem); color: config.variable(color, #6c757d);}
.note-list .list.depth-u2 > li::before {background-color: config.variable(color, #6c757d);}
.note-list .list.depth-u2 > li.primary {color: config.variable(color, #0d6efd);}
.note-list .list.depth-u2 > li.primary::before {background-color: config.variable(color, #0d6efd);}
.note-list .list.depth-u2 > li.highlight {color: config.variable(color, #dc3545);}
.note-list .list.depth-u2 > li.highlight::before {background-color: config.variable(color, #dc3545);}

.note-sub-title {display: block; font-weight: var(--#{config.$prefix}font-medium); font-size: config.variable(font, body, 1.4rem); color: config.variable(color, #495057);}

.note .note-txt,
.note .note-list {padding: config.variable(space, 1.6rem);}
.note .note-sub-title {padding-left: config.variable(space, 1.6rem); padding-right: config.variable(space, 1.6rem);}
.note-body .note-txt,
.note-body .note-list {padding-top: 0;}

.note-info {position: relative; padding-left: 1.6rem; text-indent: -1.6rem; font-size: 0;}
.note-info::before {content: ''; display: inline-block; width: .3rem; height: .3rem; margin-right: .85rem; margin-left: .45rem; margin-top: -.2rem; background-color: config.variable(color, #6c757d); border-radius: 100%; vertical-align: middle;}
.note-info > span {display: inline; vertical-align: middle; line-height: 1.5; font-size: config.variable(font, body, 1.4rem); color: config.variable(color, #6c757d);}
.data-body ~ .note-info,
.data-body ~ .note-list {margin-top: config.variable(space, 1.6rem);}
.note-list ~ .note-sub-title {margin-top: -.4rem;}
.note-sub-title ~ .note-list {margin-top: .4rem; padding-top: 0;}

.note-list > li .btn-txt-link {text-indent: 0;}
.note-sub {padding-top: config.variable(space, 1.6rem); line-height: 1.35; font-size: config.variable(font, body, 1.2rem); color: config.variable(color, #6c757d);}