/*
	파일정보 : 레이아웃 > 페이지 구조 > 푸터
	업데이트 : 2024-09-01
*/

@use 'config' as config;

#footer {
	height: config.prefix(footer-height, 1);
	flex-shrink: 0;
}
.footer-inner {
	padding: config.variable(space, 1.6rem);
	text-align: center;
	font-size: config.variable(font, body, 1.2rem);
}
.btn-page-top {
	position: fixed;
	bottom: config.variable(space, 1.6rem);
	right: config.variable(space, 1.6rem);
	@include config.icon(4.8rem);
	border: config.variable(border, .1rem) solid config.variable(color, #dee2e6);
	border-radius: config.variable(radius, 100%);
	background-color: config.variable(color, #fff);
	box-shadow: config.variable(shadow, 0 0.2rem 1.2rem 0 rgba(18, 25, 43, 0.12));
}

.company-info {
	display: flex;
	flex-direction: column;
	font-weight: config.variable(font, 300);
	font-size: config.variable(font, body, 1.2rem);
	color: config.variable(color, #000);
	& > {
		span {
			& + span {margin-top: config.variable(space, .4rem);}
		}
		.address {padding-right: 4.8rem;}
	}
}