/*
	파일정보 : 레이아웃 > 페이지 구조 > 헤더
	업데이트 : 2024-08-01
*/

@use 'config' as config;

#header {
	position: sticky;
	z-index: 10;
	top: 0;
	display: flex;
	height: config.prefix(header-height, 1);
	padding-inline: config.variable(space, 1.6rem);
	gap: config.variable(space, .8rem);
	background-color: config.variable(color, #fff);
	flex-shrink: 0;
	flex-direction: row;
	align-items: center;
}
.btn-page-back {
	display: block;
	@include config.icon(2.4rem, 0, 1);
	flex-shrink: 0;
	order: 1;
}
.btn-menu {
	display: block;
	@include config.icon(2.4rem);
	flex-shrink: 0;
	order: 3;
}
.header-title {
	width: 100%;
	@include config.ellipsis(100%);
	text-align: center;
	font-size: config.variable(font, title, 1.8rem);
	order: 2;
}

.btn-page-home {
	position: absolute;
	overflow: hidden;
	bottom: 1.5rem;
	left: config.variable(space, 1.6rem);
	@include config.icon(2.4rem, 5, 0);
}

.header-util {
	position: absolute;
	bottom: 1.5rem;
	right: 5.6rem;
	display: flex;
	flex-direction: row;
	& > {
		[class*="btn-"] {
			flex-shrink: 0;
			@include config.icon-block(2.4rem);
			@include config.icon-bg(2.4rem, url);
			background-repeat: no-repeat;
			@include config.icon-bg(2.4rem, size);
			transform: scale3d(1,1,1);
			transition: transform config.variable(animation, speed, fast) config.variable(animation, timing, outback);

			&:active {
				transform: scale3d(.94,.94,1);
			}
		}

		.btn-alarm {
			@include config.icon-bg(2.4rem, position, 8, 0);
			.is-on {
				@include config.full-block;
				@include config.icon-bg(2.4rem, all, 9, 0);
			}
		}

		.btn-search {
			margin-left: config.variable(space, 1.6rem);
			background-position: 0 0;
		}
	}
}