/*
	파일정보 : 레이아웃 > 기타
	업데이트 : 2024-09-01
*/

.item-col {
	display: flex;
	flex-direction: column;
	> .unit {
		width: 100%;
	}
}

.item-row {
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: space-between;
	> .unit {
		flex-shrink: 1;
	}
	&.option-top {
		align-items: flex-start;
	}
	&.option-bottom {
		align-items: flex-end;
	}
	&.option-left {
		justify-content: left;
	}
	&.option-center {
		justify-content: center;
	}
	&.option-right {
		justify-content: right;
	}
}