/*
	파일정보 : 레이아웃 > 페이지 구조 > 전체
	업데이트 : 2024-09-01
*/

@use 'config' as config;

#wrap {
	#{config.prefix(body-min-width)}: 320px;
	#{config.prefix(body-space)}: #{config.$xl};
	#{config.prefix(header-height)}: 5.4rem;
	#{config.prefix(footer-height)}: 5.0rem;
	#{config.prefix(main-btn-height)}: 8.8rem;

	position: relative;
	display: flex;
	flex: {
		direction: column;
	}
	min: {
		width: config.prefix(body-min-width, 1);
		height: 100dvh;
	}

	@include config.media-up(laptop) {
		#{config.prefix(header-height)}: 6.4rem;
	}
}
#main {
	display: flex;
	gap: config.variable(space, 1.6rem);
	flex: {
		direction: row;
		shrink: 0;
		grow: 1;
	}
}
#content {
	width: 100%;
	flex-shrink: 1;
}
#aside {
	width: 240px;
	flex-shrink: 0;
	background-color: config.variable(color, #f8f9fa);

	.aside-wrap {
		position: sticky;
		top: config.prefix(header-height, 1);
		padding: config.variable(space, 1.6rem);
	}
}

#loading {position: fixed; z-index: 30; top: 0; bottom: 0; left: 0; right: 0; display: none; align-items: center; justify-content: center;}
#loading.is-active {display: flex;}

.section {
	padding: config.variable(space, 2.4rem) config.variable(space, 2rem) config.variable(space, 4rem);
	+ .section {
		padding-top: 0;
	}
	&:last-child {
		padding-bottom: config.variable(space, 6.4rem);
	}
}
.group {
	+ .group {
		padding-top: config.variable(space, 3.2rem);
	}
}

/* 분기점 미디어쿼리 참고 */
.xxxx {
	&::after {
		content: '기본 : 모바일 퍼스트 스타일 작성';

		@include config.media-down(mobile) {
			content: '모바일 이하(media-down) 반영';
		}

		@include config.media-only(tablet) {
			content: '태블릿 에만(media-only) 반영';
		}

		@include config.media-up(desktop) {
			content: 'PC 이상(media-up) 반영';
		}

		@include config.media-between(tablet, laptop) {
			content: '태블릿 과(media-between) 노트북에 반영';
		}
	}
}