/*
	파일정보 : 레이아웃 > 메인
	업데이트 : 2024-09-01
*/

@use "config" as config;

#wrap {
	--#{config.$prefix}body-min-width: 320px;
	--#{config.$prefix}body-space: #{config.$xl};
	--#{config.$prefix}header-height: 5.4rem;
	--#{config.$prefix}main-btn-height: 8.8rem;

	min-width: var(--#{config.$prefix}body-min-width);

	@include config.media-up(laptop) {
		--#{config.$prefix}header-height: 6.4rem;
	}
}
#main {
	position: relative;
}
#content {
	position: relative;
}

.section {
	padding: var(--#{config.$prefix}space-xl) var(--#{config.$prefix}space-lg) var(--#{config.$prefix}space-max);
	+ .section {
		padding-top: 0;
	}
	&:last-child {
		padding-bottom: var(--#{config.$prefix}space-mega);
	}
}
.group {
	+ .group {
		padding-top: var(--#{config.$prefix}space-xxl);
	}
}

/* 분기점 미디어쿼리 참고 */
.xxxx {
	&::after {
		content: "기본 : 모바일 퍼스트 스타일 작성";

		@include config.media-down(mobile) {
			content: "모바일 이하(media-down) 반영";
		}

		@include config.media-only(tablet) {
			content: "태블릿 에만(media-only) 반영";
		}

		@include config.media-up(desktop) {
			content: "PC 이상(media-up) 반영";
		}

		@include config.media-between(tablet, laptop) {
			content: "태블릿 과(media-between) 노트북에 반영";
		}
	}
}