/*
	파일정보 : 환경설정 > 함수선언(@mixin, @function)
	업데이트 : 2024-08-01
*/

/* 분기점 */
/** 특정 분기점의 최소 너비 */
@function breakpoint-min($name) {
	$min: map-get($breakpoint, $name);
	@return if($min != 0, $min, null);
}
/** 특정 분기점의 최대 너비 */
@function breakpoint-max($name) {
	$breakpoint-name: map-keys($breakpoint);
	$index: index($breakpoint-name, $name);
	$next-breakpoint: nth($breakpoint-name, $index + 1);

	/* 다음 분기점의 최소값에서 0.02px을 뺀 값을 최대값으로 반환 */
	$max: map-get($breakpoint, $next-breakpoint) - 0.02;
	@return if($max > 0, $max, null);
}
/** 특정 분기점 이상 적용 */
@mixin media-up($name) {
	@media (min-width: breakpoint-min($name)) {
		@content;
	}
}
/** 특정 분기점 이하 적용 */
@mixin media-down($name) {
	@media (max-width: breakpoint-max($name)) {
		@content;
	}
}
/** 분기점과 분기점 내에서 적용 */
@mixin media-between($name-min, $name-max) {
	@media (min-width: breakpoint-min($name-min)) and (max-width: breakpoint-max($name-max)) {
		@content;
	}
}
/** 특정 분기점 에서만 적용 */
@mixin media-only($name) {
	$min: breakpoint-min($name);
	$max: breakpoint-max($name);

	@media (min-width: $min) and (max-width: $max) {
		@content;
	}
}

/* 색상 */
@function tint-color($color, $weight) {
	@return mix(white, $color, $weight);
}
@function shade-color($color, $weight) {
	@return mix(black, $color, $weight);
}

/* 아이콘 - $size = $icon-group */
@mixin icon($size, $x, $y) {
	$var: var(--#{$prefix}icon-#{$size});
	$name: $size;

	width: $var;
	height: $var;
	background-image: url("#{$path-image}/common/icon-#{$name}.svg");
	background-repeat: no-repeat;
	background-position: calc($var * -#{$x}) calc($var * -#{$y});
	background-size: calc($var * 10) auto;
}





/* 임시 */
@mixin size($width, $height) {
	width: $width;
	height: $height;
}

@mixin square($size) {
	@include size($size, $size);
}

@mixin ellipsis($max-width, $line: 1) {
	overflow: hidden;
	text-overflow: ellipsis;
	max-width: $max-width;
	@if ($line == 1) {
		display: inline-block;
		white-space: nowrap;
	} @else {
		display: -webkit-box;
		-webkit-box-orient: vertical;
		-webkit-line-clamp: $line;
	}
}