/*
	파일정보 : 환경설정 > 초기화
	업데이트 : 2024-08-01
*/

@use "variable" as config;

*, ::before, ::after {
	box-sizing: border-box;
}

header, main, footer, aside, article, section,
nav, menu, dialog, search,
hgroup, h1, h2, h3, h4, h5, h6,
div, span,
dl, dt, dd, ul, li, ol,
table, thead, tbody, thead, caption, tr, th, td,
form, fieldset, legend, label, input, output, select, datalist, textarea, button, progress, meter,
iframe, applet, object, details, summary,
p, blockquote, pre, code, abbr, address, cite, dfn, kbd, q, samp, var, ruby, data, time,
canvas, figure, figcaption, embed, video, audio, picture, img,
em, s, small, strong, sub, sup, b, u, i, mark, del, ins,
a, map {
	margin: 0;
	padding: 0;
	font: inherit;
}

html {
	margin: 0;
	padding: 0;
	background-color: var(--#{config.$prefix}color-white);
	font-size: 62.5%;
	text-size-adjust: none;
	-webkit-text-size-adjust: none;
	-webkit-tap-highlight-color: transparent;
}
body {
	margin: 0;
	padding: 0;
	line-height: 1.5;
	font-family: config.$font-base-family, sans-serif;
	font-size: var(--#{config.$prefix}font-body-lg);
	font-weight: var(--#{config.$prefix}font-regular);
	color: var(--#{config.$prefix}color-base-90);
	text-rendering: optimizeLegibility;
	-webkit-font-smoothing: antialiased;
}

ol, ul {
	list-style-type: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
fieldset, button {
	border: 0;
}
input, textarea, select, button {
	appearance: none;
	max-width: 100%;
	background-color: transparent;
	box-shadow: none;
	font: inherit;
}

input {
	&::-ms-clear,
	&::-ms-reveal,
	&::-webkit-search-decoration,
	&::-webkit-search-cancel-button,
	&::-webkit-search-results-button,
	&::-webkit-search-results-decoration {
		display: none;
	}

	&:-webkit-autofill,
	&:-webkit-autofill:hover,
	&:-webkit-autofill:focus,
	&:-webkit-autofill:active {
		@extend %form-autofill;
	}
}
textarea {
	&:-webkit-autofill,
	&:-webkit-autofill:hover,
	&:-webkit-autofill:focus,
	&:-webkit-autofill:active {
		@extend %form-autofill;
	}
}
select {
	&:-webkit-autofill,
	&:-webkit-autofill:hover,
	&:-webkit-autofill:focus,
	&:-webkit-autofill:active {
		@extend %form-autofill;
	}
}
%form-autofill {
	box-shadow: 0 0 0 1000px white inset !important;
	transition: background-color 5000s ease 0s;
}

canvas, video, picture, svg, img {
	display: block;
	max-width: 100%;
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	user-select: none;
}
strong {
	font-weight: var(--#{config.$prefix}font-semibold);
}
em {
	font-style: normal;
}
a {
	&,
	&:hover,
	&:focus,
	&:active,
	&:visited {
		text-decoration: none;
	}
}

::selection {
	background-color: var(--#{config.$prefix}color-primary);
	color: var(--#{config.$prefix}color-white);
}