/*
	파일정보 : 환경설정 > 초기화
	업데이트 : 2024-08-01
*/

@use 'variable' as config;

:where([class]) {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: inherit;
}
:where([class])::before,
:where([class])::after {box-sizing: border-box;}

:where(html, body) {
	margin: 0;
	padding: 0;
}
:where(html) {
	background-color: var(--#{config.$prefix}color-white);
	font-size: 62.5%;
	text-size-adjust: none;
	-webkit-text-size-adjust: none;
	-webkit-tap-highlight-color: transparent;
}
:where(body) {
	min-height: 100dvh;
	line-height: 1.5;
	font-family: config.$font-base-family, sans-serif;
	font-size: var(--#{config.$prefix}font-body-lg);
	font-weight: var(--#{config.$prefix}font-regular);
	color: var(--#{config.$prefix}color-base-90);
	text-rendering: optimizeLegibility;
	-webkit-font-smoothing: antialiased;
}

:where(ol[class], ul[class]) {list-style-type: none;}
:where(table[class]) {
	border-collapse: collapse;
	border-spacing: 0;
}
:where(button[class], fieldset[class], iframe[class]) {border: 0;}
:where(input[class], textarea[class], select[class], button[class]) {
	appearance: none;
	max-width: 100%;
	background-color: transparent;
}
:where(input[class]) {
	&::-ms-clear,
	&::-ms-reveal,
	&::-webkit-search-decoration,
	&::-webkit-search-cancel-button,
	&::-webkit-search-results-button,
	&::-webkit-search-results-decoration {
		display: none;
	}

	&:-webkit-autofill,
	&:-webkit-autofill:hover,
	&:-webkit-autofill:focus,
	&:-webkit-autofill:active {
		@extend %form-autofill;
	}
}
:where(textarea[class]) {
	&:-webkit-autofill,
	&:-webkit-autofill:hover,
	&:-webkit-autofill:focus,
	&:-webkit-autofill:active {
		@extend %form-autofill;
	}
}
:where(select[class]) {
	&:-webkit-autofill,
	&:-webkit-autofill:hover,
	&:-webkit-autofill:focus,
	&:-webkit-autofill:active {
		@extend %form-autofill;
	}
}
%form-autofill {
	box-shadow: 0 0 0 1000px var(--#{config.$prefix}color-white) inset !important;
	transition: background-color 5000s ease 0s;
}

:where(canvas[class], video[class], picture[class], svg[class], img[class]) {
	display: block;
	max-width: 100%;
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	user-select: none;
}
:where(strong) {font-weight: var(--#{config.$prefix}font-semibold);}
:where(em) {font-style: normal;}
:where(a) {
	&,
	&:hover,
	&:focus,
	&:active,
	&:visited {
		text-decoration: none;
	}
}
:where(a[class], button[class]) {
	transform: scale3d(1,1,1);
	transition: transform var(--#{config.$prefix}animation-speed-fast) var(--#{config.$prefix}animation-timing-outback);
	&:active {
		transform: scale3d(.94,.94,1);
	}
}

:where(code) {font-family: Consolas, config.$font-base-family;}

::selection {
	background-color: var(--#{config.$prefix}color-primary);
	color: var(--#{config.$prefix}color-white);
}