/*
	파일정보 : 탐색 > 탐색 관련 요소
	업데이트 : 2024-09-01
*/

/* 스텝 */
.step {
	display: inline-block;
	padding: .2rem .85rem .25rem;
	background-color: var(--color-primary-bg-base);
	border-radius: var(--radius-xl);
	vertical-align: middle;
	letter-spacing: .08rem;
	font-weight: var(--font-medium);
	font-size: var(--font-xxs);
	color: var(--color-txt-body);
	> strong {
		font-weight: var(--font-medium);
		color: var(--color-primary);
	}
}