<%- include('../include/header.html', {
	header: true,
	aside: true,
	gnb : 'form',
	gnb2nd: 'range',
	title: '범위'
}); %>

<!-- #content -->
<div id="content">
	<!-- .section -->
	<section class="section" id="form-range">
		<h2 class="title-h2"><span class="txt">@범위</span></h2>
		<!-- .group -->
		<div class="group">
			<div class="range-step5">
				<!-- .input -->
				<div class="input option-range w-100">
					<span class="range-bar"><em></em></span>
					<input type="range" min="1" max="5" step="1" class="input-range" aria-hidden="true" tabindex="-1">
					<input type="range" min="1" max="5" step="1" class="slider-thumb" aria-label="가입금액 1억원 에서 5억원 까지 선택, 억 단위">
				</div>
				<!--// .input -->
			</div>
		</div>
		<!--// .group -->
	</section>
	<!--// .section -->
</div>
<!--// #content -->

<%- include('../include/footer.html', {
	footer: false
}); %>