<%- include('../include/header.html', {
	header: true,
	aside: true,
	gnb : 'guide',
	gnb2nd: 'device'
}); %>

<!-- #content -->
<div id="content">
	<!-- .section -->
	<section class="section">
		<h2 class="title-h2"><span class="txt">기기별 해상도 기준</span></h2>
		<!-- .group -->
		<div class="group">
			<!-- .note* -->
			<div class="note">
				<ul class="note-list">
					<li>모바일 : 미디어 쿼리 없이 디폴트로 작성(모바일 퍼스트)</li>
					<li>태블릿 : <code>@media screen and (min-width: 768px) and (max-width: 1024px) {}</code></li>
					<li>태블릿 ~ PC : <code>@media screen and (min-width: 768px) {}</code></li>
					<li>PC : <code>@media screen and (min-width: 1025px) {}</code></li>
				</ul>
			</div>
			<!--// .note* -->
			<pre><code>
'mobile':  0px, /* 0 ~ 599 : 4columns(designLayout) */
'tablet':  600px, /* 600 ~ 1023 : 8columns */
'laptop':  1024px, /* 1024 ~ 1443 : 12columns */
'desktop': 1440px /* 1440 ~ : 12columns */

&::after {
	content: '기본 : 모바일 퍼스트 스타일 작성';

	@include config.media-down(mobile) {
		content: '모바일 이하(media-down) 반영';
	}

	@include config.media-only(tablet) {
		content: '태블릿 에만(media-only) 반영';
	}

	@include config.media-up(desktop) {
		content: 'PC 이상(media-up) 반영';
	}

	@include config.media-between(tablet, laptop) {
		content: '태블릿 과(media-between) 노트북에 반영';
	}
}
			</code></pre>
		</div>
		<!--// .group -->
	</section>
	<!--// .section -->
</div>
<!--// #content -->

<%- include('../include/footer.html', {
	footer: false
}); %>