<%- include('../include/header.html', {
	header: true,
	aside: true,
	gnb : 'guide',
	gnb2nd: 'performance'
}); %>

<!-- #content -->
<div id="content">
	<!-- .section -->
	<section class="section">
		<h2 class="title-h2"><span class="txt">성능 최적화</span></h2>
		<!-- .group -->
		<div class="group">
		</div>
		<!--// .group -->
	</section>
	<!--// .section -->

	<!-- .section -->
	<section class="section">
		<h2 class="title-h2"><span class="txt">이미지</span></h2>
		<!-- .group -->
		<div class="group">
			<h3 class="title-h3"><span class="txt">64*64, -max</span></h3>
			<!-- .note* -->
			<div class="note">
				<!-- .box -->
				<div class="box item-row option-left space-mb-xxs">
					<div class="unit" style="background-color: var(--gd-color-white);"></div>
					<div class="unit" style="background-color: var(--gd-color-base-30);"></div>
					<div class="unit" style="background-color: var(--gd-color-black);"></div>
				</div>
				<!--// .box -->

				<ul class="note-list">
					<li>아이콘 크기 : <code>--icon-max : 6.4rem</code></li>
					<li>이미지 경로 : <code>--bg-url-max : url('../../image/com/ico-common-max.svg');</code></li>
					<li>아이콘 사이즈 : <code>--bg-size-max : 64.0rem auto;</code></li>
					<li>예시 : <code>width: var(--icon-max); height: var(--icon-max); background: var(--bg-url-max) no-repeat 0 calc(var(--icon-max) * -1); background-size: var(--bg-size-max);</code></li>
				</ul>
			</div>
			<!--// .note* -->
		</div>
		<!--// .group -->
		<!-- .group -->
		<div class="group">
			<h3 class="title-h3"><span class="txt">48*48, -xl</span></h3>
			<!-- .note* -->
			<div class="note">
				<!-- .box -->
				<div class="box item-row option-left space-mb-xxs">
					<div class="unit" style="background-color: var(--gd-color-white);"></div>
					<div class="unit" style="background-color: var(--gd-color-base-30);"></div>
					<div class="unit" style="background-color: var(--gd-color-black);"></div>
				</div>
				<!--// .box -->

				<ul class="note-list">
					<li>아이콘 크기 : <code>--icon-xl : 4.8rem</code></li>
					<li>이미지 경로 : <code>--bg-url-xl : url('../../image/com/ico-common-xl.svg');</code></li>
					<li>아이콘 사이즈 : <code>--bg-size-xl : 48.0rem auto;</code></li>
					<li>예시 : <code>width: var(--icon-xl); height: var(--icon-xl); background: var(--bg-url-xl) no-repeat 0 calc(var(--icon-xl) * -1); background-size: var(--bg-size-xl);</code></li>
				</ul>
			</div>
			<!--// .note* -->
		</div>
		<!--// .group -->
	</section>
	<!--// .section -->
</div>
<!--// #content -->

<%- include('../include/footer.html', {
	footer: false
}); %>