<%- include('../include/header.html', {
	header: true,
	aside: true,
	gnb : 'guide',
	gnb2nd: 'project'
}); %>

<!-- #content -->
<div id="content">
	<!-- .section -->
	<section class="section">
		<h2 class="title-h2"><span class="txt">프로젝트 환경</span></h2>
		<!-- .group -->
		<div class="group">
			<!-- .note* -->
			<div class="note">
				<ul class="note-list">
					<li>사용 언어 : HTML5, CSS3, Javascript(ES6), JQuery</li>
					<li>인코딩 : UTF-8</li>
					<li>서비스 기기 : 태블릿, 모바일 (반응형 + 적응형)</li>
					<li>크로스 브라우징 : Chrome, Edge, Firefox, Safari</li>
				</ul>
			</div>
			<!--// .note* -->
		</div>
		<!--// .group -->
	</section>
	<!--// .section -->
	<!-- .section -->
	<section class="section">
		<h2 class="title-h2"><span class="txt">스타일시트 분기</span></h2>
		<!-- .group -->
		<div class="group">
			<!-- .note* -->
			<div class="note">
				<ul class="note-list">
					<li><code>src/css/common.font.css</code> : 웹폰트</li>
					<li><code>src/css/common.reset.css</code> : 전역변수, 초기화</li>
					<li><code>src/css/common.layout.css</code> : 전체레이아웃, 브레드크럼</li>
					<li><code>src/css/common.popup.css</code> : 팝업 스타일 정의 - 모달, 바텀시트, 팝오버, 툴팁</li>
					<li><code>src/css/common.form.css</code> : 데이터 관련 요소 스타일 정의 - 버튼, 텍스트필드, 캘린더, 셀렉트박스, 텍스트에어리어, 라디오버튼, 체크박스, 칩, 스위치, 토글라디오버튼</li>
					<li><code>src/css/common.module.css</code> : 그룹화 된 구성 요소 스타일 정의 - 공지사항, 박스, 탭, 아코디언, 등록폼, 폼도움말, 검색, 게시판형목록, 카드형목록, 테이블, 요소분할</li>
					<li><code>src/css/common.element.css</code> : 단일 요소 스타일 정의 - 스크롤바, 아이콘, 뱃지, 태그, 스텝, 링크, 헤드라인, 제목, 텍스트, 폰트, 정렬, 사이즈, 여백</li>
					<li><code>src/css/content.css</code> : 공통 이외의 사용 빈도수가 상대적으로 낮은 콘텐츠 스타일 정의</li>
					<li><code>dist/css/style.common.min.css</code> : 압축된 배포 파일</li>
				</ul>
			</div>
			<!--// .note* -->
		</div>
		<!--// .group -->
	</section>
	<!--// .section -->

	<!-- .section -->
	<section class="section">
		<h1 class="headline-h1"><span class="txt">가이드</span></h1>
		<h2 class="title-h2"><span class="txt">변수사용</span></h2>
		<!-- .group -->
		<div class="group">
			<!-- .note* -->
			<div class="note">
				<ul class="note-list">
					<li>디자인 가이드에 공통으로 잡혀있는 스타일은 가능한 변수로 선언하여 사용</li>
				</ul>
			</div>
			<!--// .note* -->
		</div>
		<!--// .group -->
	</section>
	<!--// .section -->

	<!-- .section -->
	<section class="section">
		<h2 class="title-h2"><span class="txt">이미지</span></h2>
		<!-- .group -->
		<div class="group">
			<h3 class="title-h3"><span class="txt">64*64, -max</span></h3>
			<!-- .note* -->
			<div class="note">
				<!-- .box -->
				<div class="box item-row option-left space-mb-xxs">
					<div class="unit" style="background-color: var(--gd-color-white);"></div>
					<div class="unit" style="background-color: var(--gd-color-base-30);"></div>
					<div class="unit" style="background-color: var(--gd-color-black);"></div>
				</div>
				<!--// .box -->

				<ul class="note-list">
					<li>아이콘 크기 : <code>--icon-max : 6.4rem</code></li>
					<li>이미지 경로 : <code>--bg-url-max : url('../../image/com/ico-common-max.svg');</code></li>
					<li>아이콘 사이즈 : <code>--bg-size-max : 64.0rem auto;</code></li>
					<li>예시 : <code>width: var(--icon-max); height: var(--icon-max); background: var(--bg-url-max) no-repeat 0 calc(var(--icon-max) * -1); background-size: var(--bg-size-max);</code></li>
				</ul>
			</div>
			<!--// .note* -->
		</div>
		<!--// .group -->
		<!-- .group -->
		<div class="group">
			<h3 class="title-h3"><span class="txt">48*48, -xl</span></h3>
			<!-- .note* -->
			<div class="note">
				<!-- .box -->
				<div class="box item-row option-left space-mb-xxs">
					<div class="unit" style="background-color: var(--gd-color-white);"></div>
					<div class="unit" style="background-color: var(--gd-color-base-30);"></div>
					<div class="unit" style="background-color: var(--gd-color-black);"></div>
				</div>
				<!--// .box -->

				<ul class="note-list">
					<li>아이콘 크기 : <code>--icon-xl : 4.8rem</code></li>
					<li>이미지 경로 : <code>--bg-url-xl : url('../../image/com/ico-common-xl.svg');</code></li>
					<li>아이콘 사이즈 : <code>--bg-size-xl : 48.0rem auto;</code></li>
					<li>예시 : <code>width: var(--icon-xl); height: var(--icon-xl); background: var(--bg-url-xl) no-repeat 0 calc(var(--icon-xl) * -1); background-size: var(--bg-size-xl);</code></li>
				</ul>
			</div>
			<!--// .note* -->
		</div>
		<!--// .group -->
	</section>
	<!--// .section -->

	<!-- .section -->
	<section class="section">
		<h2 class="title-h2"><span class="txt">웹접근성</span></h2>
		<!-- .group -->
		<div class="group">
			<h3 class="title-h3"><span class="txt">리더기</span></h3>
			<!-- .note* -->
			<div class="note">
				<ul class="note-list">
					<li>리더기에서 연결/해제 제어가 필요한 경우 해당 함수 사용 : <code>commUiFnAriaHide();</code></li>
				</ul>
			</div>
			<!--// .note* -->
		</div>
		<!--// .group -->
		<!-- .group -->
		<div class="group">
			<h3 class="title-h3"><span class="txt">초점</span></h3>
			<!-- .note* -->
			<div class="note">
				<ul class="note-list">
					<li>초점 연결/해제 제어가 필요한 경우 해당 함수 사용 : <code>commUiFnFocus();</code></li>
					<li>스크립트 공통 전역변수의 초점 요소 <code>commUiVar.focusElements : 'a[href], area[href], input:not([disabled]), select:not([disabled]), textarea:not([disabled]), button:not([disabled]), [tabindex="0"], [data-focus-on="true"]'</code></li>

					<li>초점 요소가 아니고 숨기기/보이기 처리를 해야하는 항목의 경우 <code>tabindex="0" data-focus-on="true"</code> 코드 추가하여 제어 (예시 : 팝업 콘텐츠 DIV 요소 / iOS는 초점 하위의 첫번째 초점 요소에 초점이 잡힘)</li>
				</ul>
			</div>
			<!--// .note* -->
		</div>
		<!--// .group -->
		<!-- .group -->
		<div class="group">
			<h3 class="title-h3"><span class="txt">숨기기/보이기 애니메이션</span></h3>
			<!-- .note* -->
			<div class="note">
				<ul class="note-list">
					<li><code>transition</code>으로 처리 시 요소의 <code>display:none;</code>이 있는 경우 애니메이션 되지 않음<br>
						<code>display:none;</code>을 사용하지 않고 <code>height, overflow, visibility</code> 등으로 처리할 경우 리더기와 초점 이동 관련 코드를 추가하여 액션 시 컨트롤 해야 하고, iOS의 경우 초점 대상이 아닌 요소의 제어가 어려움 (현재 가이드의 아코디언이 transition을 활용한 방법)</li>
					<li><code>animation</code>을 사용하면 <code>display:none;</code>이 있어도 동작 가능. 단, 숨기기 애니메이션은 동작하지 않음 (현재 가이드의 파벙ㅂ이 animation을 활용한 방법)</li>
					<li>위 두 가지 방법 중 요건에 따라 선택하여 작업이 필요</li>
				</ul>
			</div>
			<!--// .note* -->
		</div>
		<!--// .group -->
	</section>
	<!--// .section -->
</div>
<!--// #content -->

<%- include('../include/footer.html', {
	footer: false
}); %>