<%- include('../include/header.html', {
	header: true,
	aside: true,
	gnb : 'content',
	gnb2nd: 'badge'
}); %>

<!-- #content -->
<div id="content">
	<!-- .section -->
	<section class="section">
		<h2 class="title-h2"><span class="txt">뱃지</span></h2>
		<!-- .group -->
		<div class="group">
			<h3 class="title-h3"><span class="txt">유형1</span></h3>
			<!-- .badge* -->
			<div class="badge-group">
				<span class="badge option-base man">남</span>
				<span class="badge option-base woman">여</span>
				<span class="badge option-base info">추가질의</span>
				<span class="badge option-base info">처리완료</span>
				<span class="badge option-base info">지급완료</span>
				<span class="badge option-base primary">진행중</span>
				<span class="badge option-base highlight">중복/당사한도</span>
				<span class="badge option-base highlight">심사</span>
				<span class="badge option-base highlight2">온라인납입 불가계약</span>
				<span class="badge option-base primary2">상해</span>
			</div>
			<!--// .badge* -->
			<br>
			<!-- .badge* -->
			<div class="badge-group">
				<span class="badge option-base info2">변경 전</span>
				<span class="badge option-base primary">변경 후</span>
			</div>
			<!--// .badge* -->
			<br>
			<!-- .badge* -->
			<div class="badge-group">
				<span class="badge option-base type1">해지</span>
				<span class="badge option-base type2">해약</span>
				<span class="badge option-base type3">소멸</span>
				<span class="badge option-base type4">만기</span>
				<span class="badge option-base primary">정상</span>
				<span class="badge option-base primary2">NEW</span>
				<span class="badge option-base type5">추천</span>
				<span class="badge option-base type6">HOT</span>
				<span class="badge option-base type7">인기</span>
				<span class="badge option-base type8">신규</span>
				<span class="badge option-base type9">접수</span>
				<span class="badge option-base type10">정보입력</span>
			</div>
			<!--// .badge* -->
		</div>
		<!--// .group -->
		<!-- .group -->
		<div class="group">
			<h3 class="title-h3"><span class="txt">유형2</span></h3>
			<!-- .badge* -->
			<div class="badge-group">
				<span class="badge option-status primary">양호</span>
				<span class="badge option-status warning">보통</span>
				<span class="badge option-status highlight">부족</span>
				<span class="badge option-status success">중요</span>
			</div>
			<!--// .badge* -->
		</div>
		<!--// .group -->
		<!-- .group -->
		<div class="group">
			<h3 class="title-h3"><span class="txt">유형3</span></h3>
			<!-- .badge* -->
			<div class="badge-group">
				<span class="badge option-alarm primary">Txt</span>
				<span class="badge option-alarm warning">New</span>
				<span class="badge option-alarm highlight">Txt</span>
				<span class="badge option-alarm success">Txt</span>
				<span class="badge option-alarm info">Txt</span>
				<span class="badge option-alarm type1">접수</span>
				<span class="badge option-alarm type2">진행중</span>
				<span class="badge option-alarm type3">종결</span>
				<span class="badge option-alarm type4">정보입력</span>
				<span class="badge option-alarm type5">지급</span>
			</div>
			<!--// .badge* -->
		</div>
		<!--// .group -->
	</section>
	<!--// .section -->
</div>
<!--// #content -->

<%- include('../include/footer.html', {
	footer: false
}); %>