/*
	파일정보 : 폼 > 텍스트에어리어
	업데이트 : 2024-08-01
*/

@use 'config' as config;

/* 텍스트에어리어 */
.textarea {position: relative; display: inline-block; vertical-align: middle;}
.textarea-data {display: block; width: 100%; height: 100%; min-height: 12.8rem; padding: calc(config.variable(space, 1.6rem) - config.variable(border, .1rem)); background-color: config.variable(color, #fff); border: config.variable(border, .1rem) solid config.variable(color, #dee2e6); border-radius: config.variable(radius, .8rem); outline: none; font-size: config.variable(font, body, 1.6rem); color: config.variable(color, #000); resize: none; transition: border config.variable(animation, speed, fast) config.variable(animation, timing, base);}
.textarea-count {margin-bottom: .8rem; padding: .3rem 0; text-align: right; font-size: config.variable(font, body, 1.2rem); color: config.variable(color, #495057);}
.textarea-count .count-char {font-style: normal;}
.textarea-data.is-error {border-color: config.variable(color, #dc3545);}
.textarea-data:focus {border-color: config.variable(color, #0d6efd); box-shadow: var(--shadow-primary-lg);}
.textarea-data:read-only {background-color: config.variable(color, #f8f9fa); color: config.variable(color, #000);}
.textarea-data:disabled {border-color: config.variable(color, #e9ecef); background-color: config.variable(color, #f8f9fa); color: config.variable(color, #ced4da); cursor: default;}

.form-name ~ .form-value .textarea .textarea-count {position: absolute; top: -3.2rem; right: 0;}