<%- include('../include/header.html', {
	header: true,
	aside: false,
	title: 'common1'
}); %>

<!-- #content -->
<div id="content">
	<!-- .section -->
	<section class="section">
		<!-- .group -->
		<div class="group">
			common1 content
		</div>
		<!--// .group -->

		<!-- .btn-group* -->
		<div class="btn-group option-main">
			<button type="button" class="btn primary"><span>button</span></button>
		</div>
		<!--// .btn-group* -->
	</section>
	<!--// .section -->
</div>
<!--// #content -->

<%- include('../include/footer.html', {
	footer: false
}); %>