/*
	파일정보 : 컴포넌트 > 아코디언
	업데이트 : 2024-08-01
*/

@use 'config' as config;

.accordion {
	$accordion : &;
	position: relative;
	background-color: config.variable(color, #fff);
	border: config.variable(border, .1rem) solid config.variable(color, #dee2e6) {
		radius: config.variable(radius, 1.6rem);
		radius: config.variable(radius, 1.6rem);
	}

	&:nth-child(1n + 2) {margin-top: config.variable(space, .8rem);}

	&-head {
		position: relative;
		display: flex;
		flex-direction: row;
		align-items: center;
		min-height: 5.6rem;
		padding: 1.9rem 5.1rem 1.9rem 1.9rem;

		.inner {
			width: 100%;
			cursor: default;

			[class^="title-h"] {line-height: 1;}

			.title-h4 {
				& > .txt {line-height: 1.334;}
			}

			& > span {
				font-size: config.variable(font, body, 1.4rem);
				color: config.variable(color, #000);
			}
		}

		.btn-fold {
			position: absolute;
			top: 1.9rem;
			right: 1.9rem;
			@include config.icon-block(2.4rem);
			padding: config.variable(space, .4rem);
			transform: rotate(-180deg);
			transition: transform config.variable(animation, speed, base) config.variable(animation, timing, base);

			&::before {
				content: '';
				@include config.full-block;
				@include config.icon-bg(1.6rem, all, 3, 1);
			}
			#{$accordion}.is-open & {transform: rotate(0deg);}
		}

		.checkbox-item .label {font-size: config.variable(font, body, 1.4rem);}
	}

	&-body {
		position: relative;
		overflow: hidden;
		max-height: 0;
		transition: max-height config.variable(animation, speed, base) config.variable(animation, timing, base);

		&::before {
			content: '';
			position: absolute;
			top: 0;
			left: 1.9rem;
			width: calc(100% - 3.8rem);
			height: config.variable(border, .1rem);
			background-color: config.variable(color, #e9ecef);
		}

		.inner {
			padding: 1.6rem 1.9rem 3.1rem;
			word-break: break-all;
		}
	}

	&-foot {
		padding: 1.9rem 2.3rem;
		border-top: config.variable(border, .1rem) solid config.variable(color, #f8f9fa);

		.checkbox-item .label {font-size: config.variable(font, body, 1.4rem);}
	}
}