/*
	파일정보 : 컴포넌트 > 캘린더
	업데이트 : 2024-08-01
*/

@use 'config' as config;

/*** 인풋 - 날짜 - 캘린더 */
.calendar {position: relative;}
.calendar [class^="btn-"] {position: absolute; top: 0; width: var(--icon-lg); height: var(--icon-lg); border: config.variable(border, .1rem) solid config.variable(color, #dee2e6); border-radius: config.variable(radius, .8rem);}
.calendar [class^="btn-"]::before {content: ''; position: absolute; top: 50%; left: 50%; width: var(--icon-sm); height: var(--icon-sm); margin: -.8rem 0 0 -.8rem; background: var(--bg-url-sm) no-repeat 0 calc(var(--icon-sm) * -1); background-size: var(--bg-size-sm);}
.calendar .btn-prev {left: config.variable(space, 2.4rem);}
.calendar .btn-next {right: config.variable(space, 2.4rem);}
.calendar .btn-next::before {background-position: calc(var(--icon-sm) * -1) calc(var(--icon-sm) * -1);}
.calendar-group {padding: 0 config.variable(space, 1.6rem);}
.calendar-head {padding: .4rem 0; text-align: center; line-height: 1;}
.calendar-head .select.in-calendar {margin-top: .2rem; margin-bottom: .2rem;}
.calendar-head .select.in-calendar + .select.in-calendar {margin-left: config.variable(space, 1.6rem);}
.calendar-body {padding-top: config.variable(space, 1.6rem); line-height: 1;}
.calendar-body .day {position: relative; display: inline-block; width: 3.2rem; margin: .2rem .4rem; text-align: center;}
.calendar-body .week {display: flex;}
.calendar-body .week .day {flex-shrink: 0; line-height: 1.5; font-size: config.variable(font, body, 1.2rem); color: config.variable(color, #6c757d);}
.calendar-body .week .day:first-child {color: config.variable(color, #dc3545);}
.calendar-body .week .day:last-child {color: #1766FF;}
.calendar-body .day-group {display: flex; flex-wrap: wrap;}

.day-group .day {flex-shrink: 0; padding: .65rem 0 .6rem; border-radius: 1.2rem; line-height: 1.5; font-weight: config.variable(font, 600); font-size: config.variable(font, body, 1.4rem); color: config.variable(color, #000); cursor: pointer;}
.day-group .day.today::after {content: ''; position: absolute; bottom: .4rem; left: 50%; width: .4rem; height: .4rem; margin-left: -.2rem; border-radius: 100%; background-color: config.variable(color, #dc3545);}

.day-group .day:first-child,
.day-group .day:nth-child(7n + 1),
.day-group .day.holiday {color: config.variable(color, #dc3545);}
.day-group .day.prev,
.day-group .day.next {color: config.variable(color, #adb5bd);}
.day-group .day.is-active {background-color: config.variable(color, #0d6efd); color: config.variable(color, #fff);}
.day-group .day.disabled {color: config.variable(color, #dee2e6);}

.day-group .day.is-start {color: config.variable(color, #fff);}
.day-group .day.is-start::before {content: ''; position: absolute; z-index: -1; top: 0; left: 0; bottom: 0; width: calc(100% + .4rem); background-color: rgba(191, 213, 255, .2); background-image: var(--bg-url-etc); background-repeat: no-repeat; background-position: -16.8rem 0; background-size: var(--bg-size-etc); border-top-left-radius: 1.2rem; border-bottom-left-radius: 1.2rem;}
.day-group .day.is-start:nth-child(7n)::before {width: 100%;}

.day-group .day.ing::before {content: ''; position: absolute; top: 0; left: -.4rem; bottom: 0; width: calc(100% + .8rem); background-color: rgba(191, 213, 255, .2);}
.day-group .day.ing:nth-child(7n)::before {width: calc(100% + .4rem); border-top-right-radius: 1.2rem; border-bottom-right-radius: 1.2rem;}
.day-group .day.ing:nth-child(7n + 1)::before {left: 0; width: calc(100% + .4rem); border-top-left-radius: 1.2rem; border-bottom-left-radius: 1.2rem;}

.day-group .day.is-end {color: config.variable(color, #fff);}
.day-group .day.is-end::before {content: ''; position: absolute; z-index: -1; top: 0; left: -.4rem; bottom: 0; width: calc(100% + .4rem); background-color: rgba(191, 213, 255, .2); background-image: var(--bg-url-etc); background-repeat: no-repeat; background-position: -16.4rem 0; background-size: var(--bg-size-etc); border-top-right-radius: 1.2rem; border-bottom-right-radius: 1.2rem;}
.day-group .day.is-end:nth-child(7n + 1)::before {left: 0; width: 100%; background-position: -16.8rem 0; background-color: transparent;}

/*** 인풋 - 월 - 캘린더 */
.calendar-head .year {display: block; padding-bottom: .1rem; line-height: 1.35; font-weight: config.variable(font, 600); font-size: config.variable(font, title, 2.0rem); color: config.variable(color, #343a40);}
.month-group {display: flex; flex-wrap: wrap;}
.month-group .month {flex-shrink: 0; width: 33.33%; padding: .95rem 1.2rem; border-radius: 1.2rem; line-height: 1.5; font-weight: config.variable(font, 500); font-size: config.variable(font, body, 1.4rem); color: config.variable(color, #000); cursor: pointer;}
.month-group .month.is-active {background-color: config.variable(color, #0d6efd); color: config.variable(color, #fff);}

/*** 인풋 - 날짜 - 캘린더 - 팝업 */
.calendar-popup {position: fixed; z-index: 20; top: 0; bottom: 0; left: 0; right: 0; display: flex; align-items: center; justify-content: center; transform: translate3d(0, 100%, 0); transition: transform 0s config.variable(animation, timing, base) config.variable(animation, speed, base);}
.calendar-popup::before {content: ''; position: fixed; top: 0; bottom: 0; left: 0; right: 0; background-color: var(--color-dimmed); transform: translate3d(0, 100%, 0); transition: opacity config.variable(animation, speed, base) config.variable(animation, timing, base), transform 0s config.variable(animation, speed, base); opacity: 0;}

.calendar-content {position: relative; z-index: 21; width: 100%; max-width: 32.0rem; padding: 0 0 2.4rem; background-color: config.variable(color, #fff); border-radius: config.variable(radius, 2.4rem); opacity: 0; margin: 0 config.variable(space, 2.4rem); box-shadow: var(--shadow-sm); transform: translate3d(0, -12%, 0); transition: opacity config.variable(animation, speed, fast) config.variable(animation, timing, base), transform config.variable(animation, speed, base) config.variable(animation, timing, outback);}
.calendar-title {position: relative; padding: 2.0rem 5.6rem 1.971rem 2.0rem; line-height: 1.35; font-weight: config.variable(font, 600); font-size: config.variable(font, body, 1.8rem); color: config.variable(color, #000);}

.calendar-popup.is-open {transform: translate3d(0, 0, 0); transition-duration: 0s; transition-delay: 0s;}
.calendar-popup.is-open::before {transform: translate3d(0, 0, 0); opacity: 1; transition: opacity config.variable(animation, speed, base) config.variable(animation, timing, base), transform 0s 0s;}
.calendar-popup.is-open .calendar-content {opacity: 1; transform: translate3d(0, 0, 0);}