/*
	파일정보 : 컴포넌트 > 툴팁
	업데이트 : 2024-08-01
*/

@use 'config' as config;

/* 툴팁 */
.tooltip {
	position: relative;
	display: inline-flex;
	width: config.variable(icon, 1.6rem);
	height: config.variable(icon, 1.6rem);
	margin-top: -.2rem;
	vertical-align: middle;

	&-btn {
		@include config.full-block;
		@include config.icon-bg(1.6rem, all, 3, 0);

		& > span {font-size: 0;}
	}

	&-body {
		position: absolute;
		display: none;
		z-index: 10;
		width: max-content;
		padding: config.variable(space, .8rem) config.variable(space, 1.2rem);
		background-color: config.variable(color, #495057);
		border-radius: config.variable(radius, .8rem);
		box-shadow: config.variable(shadow, sm);
		line-height: 1.35;
		font-weight: config.variable(font, 400);
		font-size: config.variable(font, body, 1.2rem);
		color: config.variable(color, #fff);
		transform: translate3d(0, -12%, 0);
		opacity: 0;
		transition-duration: 0s;
		transition-delay: 0s;

		/* display: block;
			animation: animation-tooltip config.variable(animation, speed, base) config.variable(animation, timing, outback) forwards; */

		&::before {
			content: '';
			position: absolute;
			/* width: .5rem;
			height: .8rem;
			background: var(--bg-url-etc) no-repeat 0 0;
			background-size: var(--bg-size-etc); */
			width: 0;
			height: 0;
			border: {
				right: .5rem solid config.variable(color, #495057);
				top: .5rem solid transparent;
				bottom: .5rem solid transparent;
			}
		}
	}
	&.is-open {
		.tooltip-body {
			display: block;
			animation: animation-tooltip config.variable(animation, speed, base) config.variable(animation, timing, outback) forwards;
		}
	}
	&.bottom {
		align-items: end;

		&.left {
			.tooltip-body {
				margin-bottom: config.variable(space, 2.4rem);
				margin-left: -1.0rem;
				margin-right: config.variable(space, 1.6rem);

				&::before {
					bottom: -.5rem;
					left: config.variable(space, 1.6rem);
					transform: rotate3d(0, 0, 1, 270deg);
				}
			}
		}
		&.right {
			justify-content: flex-end;

			.tooltip-body {
				margin-bottom: config.variable(space, 2.4rem);
				margin-right: -1.0rem;
				margin-left: config.variable(space, 1.6rem);

				&::before {
					bottom: -.5rem;
					right: config.variable(space, 1.6rem);
					transform: rotate3d(0, 0, 1, 270deg);
				}
			}
		}
	}
	&.top {
		align-items: start;

		&.left {
			.tooltip-body {
				margin-top: config.variable(space, 2.4rem);
				margin-left: -1.0rem;
				margin-right: config.variable(space, 1.6rem);

				&::before {
					top: -.7rem;
					left: config.variable(space, 1.6rem);
					transform: rotate3d(0, 0, 1, 90deg);
				}
			}
		}
		&.right {
			justify-content: flex-end;

			.tooltip-body {
				margin-top: config.variable(space, 2.4rem);
				margin-right: -1.0rem;
				margin-left: config.variable(space, 1.6rem);

				&::before {
					top: -.7rem;
					right: config.variable(space, 1.6rem);
					transform: rotate3d(0, 0, 1, 90deg);
				}
			}
		}
	}
}

@keyframes animation-tooltip {
	100% {
		opacity: 1;
		transform: translate3d(0, 0, 0);
	}
}