/*
	파일정보 : 유틸리티 > 폰트(스타일, 색상, 크기, 두께, 줄간격)
	업데이트 : 2024-08-01
*/

@use 'config' as config;

/* 폰트스타일 */
.text-under {text-decoration: underline;}
.text-through {text-decoration: line-through;}

/* 폰트색상 */
.fc-primary {color:  config.variable(color, #0d6efd) !important;}
.fc-secondary {color: var(--#{config.$prefix}color-secondary) !important;}
.fc-highlight {color: config.variable(color, #dc3545) !important;}
.fc-warning {color: var(--#{config.$prefix}color-warning) !important;}
.fc-info {color: var(--#{config.$prefix}color-info) !important;}
.fc-success {color: var(--#{config.$prefix}color-success) !important;}

.fc-disabled {color: config.variable(color, #ced4da) !important;}
.fc-placeholder {color: config.variable(color, #6c757d) !important;}
.fc-base {color: config.variable(color, #6c757d) !important;}
.fc-sub {color: config.variable(color, #495057) !important;}
.fc-body {color: config.variable(color, #343a40) !important;}
.fc-dark {color: config.variable(color, #000) !important;}

/* 폰트사이즈 */
.fs-tiny {font-size: config.variable(font, body, 1.2rem) !important;}
.fs-caption {font-size: config.variable(font, body, 1.4rem) !important;}
.fs-xs {font-size: config.variable(font, body, 1.4rem) !important;}
.fs-sm {font-size: config.variable(font, body, 1.4rem) !important;}
.fs-md {font-size: config.variable(font, body, 1.6rem) !important;}
.fs-lg {font-size: config.variable(font, body, 1.8rem) !important;}

/* 폰트두께 */
.fw-bold {font-weight: var(--#{config.$prefix}font-bold) !important;}
.fw-semibold {font-weight: config.variable(font, 600) !important;}
.fw-medium {font-weight: var(--#{config.$prefix}font-medium) !important;}
.fw-regular {font-weight: config.variable(font, 400) !important;}
.fw-light {font-weight: config.variable(font, 300) !important;}

/* 줄간격 */
.reset-line {line-height: 1 !important;}
.word-keep {word-break: keep-all !important;}